<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- resources/mappers/PaymentAccountMapper.xml -->
<!-- resources/mappers/TerminalCredentialMapper.xml -->
<mapper namespace="com.sinloingok.app.dao.TerminalCredentialMapper">
    <resultMap id="BaseMap" type="com.sinloingok.app.models.payment.TerminalCredential">
        <id column="id" property="id"/>
        <result column="address_id" property="addressId"/>
        <result column="onlyCode" property="onlyCode"/>
        <result column="payment_account_id" property="paymentAccountId"/>
        <result column="terminal_sn" property="terminalSn"/>
        <result column="terminal_key" property="terminalKey"/>
        <result column="is_enabled" property="isEnabled"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <select id="selectByOnlyCode" resultMap="BaseMap">
        SELECT * FROM payment_terminal_credential
        WHERE only_code = #{onlyCode} AND is_enabled = 1
        LIMIT 1
    </select>

    <select id="selectBySiteAndAccount" resultMap="BaseMap">
        SELECT * FROM payment_terminal_credential
        WHERE address_id = #{addressId} AND payment_account_id = #{accountId} AND is_enabled = 1
        LIMIT 1
    </select>

    <select id="listByAccount" resultMap="BaseMap">
        SELECT * FROM payment_terminal_credential
        WHERE payment_account_id = #{accountId} AND is_enabled = 1
    </select>

    <insert id="insert" parameterType="com.sinloingok.app.models.payment.TerminalCredential" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO payment_terminal_credential
        (address_id,payment_account_id,terminal_sn,terminal_key,is_enabled)
        VALUES
        (#{addressId},#{paymentAccountId},#{terminalSn},#{terminalKey},#{isEnabled})
    </insert>

    <update id="updateById" parameterType="com.sinloingok.app.models.payment.TerminalCredential">
        UPDATE payment_terminal_credential
        SET terminal_sn=#{terminalSn}, terminal_key=#{terminalKey}, is_enabled=#{isEnabled}
        WHERE id=#{id}
    </update>
</mapper>
